* {
    /* margin: 0;
    padding: 0; */
    /* align-items: center; */
}


.atul01 {
    padding: 25px;
    background-color: grey;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    font-size: larger;

}

.col {
    display: flex;
    flex-direction: column;
}
.one {
    font-size: xx-large;
    font-weight: bold;
}

.text {
    flex:3; 
}